<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link href="../public/css/standard_template.css" th:href="@{/public/css/standard_template.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <img th:src="@{/public/images/cupcakeimage.png}" src="../public/images/cupcakeimage.png" class="header-image"/>
</header>

<div class="container">
    <div class="top-bar">
        <div class left>
        <button class="left-button">Ordrer</button>
        <button class="left-button">Kunder</button>
        </div>
        <div class="right">
            <p>email-652@cphbusiness.dk</p>
        </div>
    </div>

    <div class="main-content">


    </div>
</div>
</body>
</html>
