<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin kunde</title>
    <link href="../public/css/standard_template.css" th:href="@{/css/standard_template.css}" rel="stylesheet"/>
    <link href="../public/css/basket.css" th:href="@{/css/basket.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <img th:src="@{/images/cupcakeheader.png}" src="../public/images/cupcakeheader.png" class="header-image"/>
</header>

<div class="container">
    <div class="top-bar">
        <div class left>
            <button class="left-button">Ordrer</button>
            <button class="left-button">Kunder</button>
        </div>
        <div class="right">
            <p>email-652@cphbusiness.dk</p>
        </div>
    </div>

    <div class="main-content">
        <div class="table-container">
            <h2>Her kan du ændre kundernes penge og slette kunder!</h2>
            <table class="table-layout">
                <thead>
                <tr>
                    <th>Kunde ID</th>
                    <th>Kunde email</th>
                    <th>Kunde penge</th>
                </tr>
                </thead>
                <tbody>

                <p th:each="user : ${users}"
                   th:text="${user.email}"></p>

                <tr>
                    <td>1</td>
                    <td>email-652@cphbusiness.dk</td>
                    <td>100</td>
                    <td>edit logo</td>
                    <td>trash logo</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>email-653@cphbusiness.dk</td>
                    <td>300</td>
                    <td>edit logo</td>
                    <td>trash logo</td>


                </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>
</body>
</html>