<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Receipt</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<img th:src="@{/public/images/cupcakeheader.png}" src="../public/images/cupcakeheader.png"/>

<p>Vis email her</p>
<p>Indsæt kurv logo her</p>

<h1>Tak for din bestilling!</h1>
<h1>Kvittering</h1>

<table align="center" border="1" cellpadding="10">
    <tr>
        <th>Top</th>
        <th>Bund</th>
        <th>Antal</th>
        <th>Pris</th>
    </tr>

    <tr>
        <td>Chokolade</td>
        <td>Solbær</td>
        <td>2</td>
        <td>50 kr.</td>
    </tr>
</table>

<p>Dato for indkøb:</p>

<p>Total pris:</p>



</body>
</html>
