<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kvittering</title>
    <link href="../public/css/standard_template.css" th:href="@{/public/css/standard_template.css}" rel="stylesheet"/>
    <link href="../public/css/table.css" th:href="@{/css/table.css}" rel="stylesheet"/>

</head>
<body>
<header>
    <img th:src="@{/images/cupcakeheader.png}" src="../public/images/cupcakeheader.png" class="header-image"/>
</header>

<div class="container">
    <div class="top-bar">
        <button class="left-button">Gemte ordrer</button>
        <div class="right">
            <p><span th:text="${session.currentUser.email}"></span></p>
            <button class="basket-button">
                <img th:src="@{/images/basket_red_dot.png}" src="../public/images/basket_red_dot.png" class="basket-icon" />
            </button>
        </div>
    </div>

    <div class="main-content">
        <div class="table-container">
            <h2>Tak for din bestilling!</h2>
            <h2>Kvittering:</h2>
            <table class="table-layout">
                <thead>
                <tr>
                    <th>Top</th>
                    <th>Bund</th>
                    <th>Antal</th>
                    <th>Pris</th>
                </tr>
                </thead>
                <tbody>
                <!-- Loop through saved orderlines for each saved order -->
                <tr th:each="orderline : ${orderlines}">
                    <td th:text="${orderline.cupcake_top_id}"></td>  <!-- Display cupcake_top_id -->
                    <td th:text="${orderline.cupcake_bottom_id}"></td> <!-- Display cupcake_bottom_id -->
                    <td th:text="${orderline.amount}"></td>  <!-- Display amount -->
                    <td th:text="${orderline.price}"></td>  <!-- Display price -->
                </tr>
                </tbody>
            </table>
            <div class="total-pris" th:text="'Total Price: ' + ${basketTotalPrice}"></div>


        </div>
    </div>
</div>
</body>
</html>
