{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}


.header-image {
    display: block;
    max-width: 800px;
    width: 100%;
    height: auto;
    margin: 20px auto 0;
    border-radius: 10px;
}


.top-bar {
    background-color: #CAC9C9FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    font-family: Arial, sans-serif; /* Brug gerne denne tekst font til alt tekst i programmet */
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


.top-bar button {
    border: none;
    background: none;
    cursor: pointer;
}


.left-button {
    color: #877a78;
    font-size: 1rem;
    transition: color 0.3s ease; /* Transition til en mørjere farve når man holder musen over den */
}

.left-button:hover {
    color: #302e2e;
}


.top-bar .right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-bar .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.top-text .title {
    font-family: Arial, sans-serif;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}
.top-text .rubric {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

select {
    padding: 5px;
    min-width: 130px;
}
.add-to-basket{
    margin-top: 30px;
    font-size: 20px;
    padding: 7px;
    border-radius: 5px;
    border: 0px;
    background: dodgerblue;
    color: white;
}



.basket-icon {
    width: 50px;
    max-height: 50px;
    object-fit: contain;
}


.main-content { /* Dette er den store boks hvor der skal være noget i */
    background-color: #EAEAEAFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    min-height: 400px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.main-login-create-content {
    background-color: #EAEAEAFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    min-height: 400px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.main-content .add-to-basket {
    display: flex;
    justify-content: center;
}

.login-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
}

.submit-button {
    padding: 8px;
    font-size: 0.8rem;
    width: 25%;
    background: green;
    color: white;
    border-radius: 8px;
}
.submit-button-create {
    padding: 8px;
    font-size: 0.8rem;
    width: 40%;
    background: green;
    color: white;
    border-radius: 8px;
}


.login-content .logout-create {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-content div div{
    display: flex;
    min-width: 100%;
    justify-content: space-between;
}

.main-content div div select {
    border-radius: 5px;
}

/* ****** Telefon ***** */
@media (max-width: 500px){
    .top-text .title {
        font-family: Arial, sans-serif;
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }
    .top-text .rubric {
        font-family: Arial, sans-serif;
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
    .main-content div div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

}

.checkout-button {
    background: #008000;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.checkout-button:hover {
    background: #006100;
}


/*
.thank-you-message{
    font-size: 2rem;
} */